<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Schtrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Schtrix.Properties.Settings>
            <setting name="AutoCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveWebcamShot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitHistory" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveCleanImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceName" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoPowerOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>0</value>
            </setting>
        </Schtrix.Properties.Settings>
    </userSettings>
</configuration>
